In [1]:
import pandas as pd

In [2]:
# Read the main file
mass_shooting = pd.read_csv('../Resources/mass_shooting_1982to2023_cleaned.csv')
set(mass_shooting['state'].to_list())

{' Alabama',
 ' Arizona',
 ' Arkansas',
 ' California',
 ' Colorado',
 ' Connecticut',
 ' D.C.',
 ' Florida',
 ' Georgia',
 ' Hawaii',
 ' Illinois',
 ' Indiana',
 ' Iowa',
 ' Kansas',
 ' Kentucky',
 ' Lousiana',
 ' Maryland',
 ' Massachusetts',
 ' Michigan',
 ' Minnesota',
 ' Mississippi',
 ' Missouri',
 ' Nebraska',
 ' Nevada',
 ' New Jersey',
 ' New York',
 ' North Carolina',
 ' Ohio',
 ' Oklahoma',
 ' Oregon',
 ' Pennsylvania',
 ' South Carolina',
 ' Tennessee',
 ' Texas',
 ' Utah',
 ' Virginia',
 ' Washington',
 ' Wisconsin'}

In [3]:
# need to clean trailing spaces from state
mass_shooting['state'] = mass_shooting['state'].str.strip() 
mass_shooting

,case,date,year,month,city,state,fatalities,injured,total_victims,location_catg,type,age_of_shooter,race,latitude,longitude
0,Nashville religious school shooting,2023-03-27,2023,March,Nashville,Tennessee,6,1,6,School,Mass,28.0,Unknown,36.162663,-86.781601
1,Michigan State University shooting,2023-02-13,2023,February,East Lansing,Michigan,3,5,8,School,Mass,43.0,Black,42.746880,-84.483704
2,Half Moon Bay spree shooting,2023-01-23,2023,January,Half Moon Bay,California,7,1,8,Workplace,Spree,67.0,Asian,37.463551,-122.428589
3,LA dance studio mass shooting,2023-01-21,2023,January,Monterey Park,California,11,10,21,Other,Mass,72.0,Asian,34.059818,-118.122803
4,Virginia Walmart shooting,2022-11-22,2022,November,Chesapeake,Virginia,6,6,12,Workplace,Mass,31.0,Black,36.714588,-76.249931
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
136,Shopping centers spree killings,1987-04-23,1987,April,Palm Bay,Florida,6,14,20,Other,Spree,59.0,White,28.033189,-80.642969
137,United States Postal Service shooting,1986-08-20,1986,August,Edmond,Oklahoma,15,6,21,Workplace,Mass,44.0,White,35.667202,-97.429370
138,San Ysidro McDonald's massacre,1984-07-18,1984,July,San Ysidro,California,22,19,41,Other,Mass,41.0,White,32.552001,-117.043081
139,Dallas nightclub shooting,1984-06-29,1984,June,Dallas,Texas,6,1,7,Other,Mass,39.0,White,32.925166,-96.838676
140,Welding shop shooting,1982-08-20,1982,August,Miami,Florida,8,3,11,Other,Mass,51.0,White,25.796491,-80.226683

In [4]:
# Read the gun laws file
gun_laws = pd.read_csv('../Resources/gun_laws_1991to2019_cleaned.csv')
gun_laws

,STATE,YEAR,dealer_regulations,buyer_regulations,gun_posses_prohibitions,background_checks,ammunition_regulations,possession_regulations,concealed_carry_permits,assault_weapons_bans,child_access_prevention,gun_trafficking,domestic_violence,no_preemption,no_stand_your_ground,immunity,total_laws
0,Alabama,1991,7,1,1,0,0,0,3,0,0,0,0,1,1,1,15
1,Alaska,1991,0,0,1,0,0,1,6,0,0,0,0,0,1,1,10
2,Arizona,1991,0,0,3,0,0,1,6,0,0,0,0,0,1,1,12
3,Arkansas,1991,0,0,3,0,0,1,6,0,0,0,0,3,1,1,15
4,California,1991,12,5,7,11,0,5,5,4,4,0,2,2,1,0,58
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1445,Virginia,2019,0,0,4,0,0,1,4,0,0,2,1,0,1,0,13
1446,Washington,2019,7,4,4,11,1,4,5,0,5,0,7,0,1,0,49
1447,West Virginia,2019,1,2,6,0,2,0,0,0,0,0,7,0,0,0,18
1448,Wisconsin,2019,0,1,5,0,0,2,5,0,2,0,6,0,1,1,23
1449,Wyoming,2019,0,0,1,0,0,3,0,0,0,0,0,0,0,1,5

In [5]:
# Merge the mass shooting file with the gun laws file based on 'year' and 'state'
merged_file = pd.merge(mass_shooting, gun_laws, left_on=['year', 'state'], right_on=['YEAR', 'STATE'], how='outer')
merged_file

,case,date,year,month,city,state,fatalities,injured,total_victims,location_catg,...,possession_regulations,concealed_carry_permits,assault_weapons_bans,child_access_prevention,gun_trafficking,domestic_violence,no_preemption,no_stand_your_ground,immunity,total_laws
0,Nashville religious school shooting,2023-03-27,2023.0,March,Nashville,Tennessee,6.0,1.0,6.0,School,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Michigan State University shooting,2023-02-13,2023.0,February,East Lansing,Michigan,3.0,5.0,8.0,School,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Half Moon Bay spree shooting,2023-01-23,2023.0,January,Half Moon Bay,California,7.0,1.0,8.0,Workplace,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,LA dance studio mass shooting,2023-01-21,2023.0,January,Monterey Park,California,11.0,10.0,21.0,Other,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Virginia Walmart shooting,2022-11-22,2022.0,November,Chesapeake,Virginia,6.0,6.0,12.0,Workplace,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1491,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,0.0,1.0,0.0,0.0,3.0,0.0,1.0,1.0,19.0
1492,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.0,5.0,0.0,5.0,0.0,7.0,0.0,1.0,0.0,49.0
1493,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,7.0,0.0,0.0,0.0,18.0
1494,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.0,5.0,0.0,2.0,0.0,6.0,0.0,1.0,1.0,23.0
1495,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,5.0

In [6]:
# Read the demographics file
demographics = pd.read_csv('../Resources/us_demogrpahics_2011to2019_cleaned.csv', encoding="utf-8")
demographics

,Year,State,Total Population,Poverty,Median Age,Unemployed Civilians,Median Household Income,Per Capita Income,% in Poverty,% in Unemployed
0,2011,Alabama,4747424,813385,37.7,215543,42934,23483,17.13,4.54
1,2011,Alaska,700703,65111,33.8,30932,69014,31944,9.29,4.41
2,2011,Arizona,6337373,1003575,35.7,268363,50752,25784,15.84,4.23
3,2011,Arkansas,2895928,516822,37.3,114100,40149,21833,17.85,3.94
4,2011,California,36969200,5211481,35.1,1868871,61632,29634,14.10,5.06
...,...,...,...,...,...,...,...,...,...,...
445,2019,Virginia,8454463,865691,38.2,200850,74222,39278,10.24,2.38
446,2019,Washington,7404107,785244,37.7,187330,73775,38915,10.61,2.53
447,2019,West Virginia,1817305,310044,42.5,51910,46711,26480,17.06,2.86
448,2019,Wisconsin,5790716,639160,39.5,111564,61747,33375,11.04,1.93
449,2019,Wyoming,581024,62257,37.7,13544,64049,33366,10.72,2.33

In [7]:
# Merge the merged file with the demographics file based on 'year' and 'state'
merged_file = pd.merge(merged_file, demographics, left_on=['year', 'state'], right_on=['Year', 'State'], how='outer')
merged_file

,case,date,year,month,city,state,fatalities,injured,total_victims,location_catg,...,Year,State,Total Population,Poverty,Median Age,Unemployed Civilians,Median Household Income,Per Capita Income,% in Poverty,% in Unemployed
0,Nashville religious school shooting,2023-03-27,2023.0,March,Nashville,Tennessee,6.0,1.0,6.0,School,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Michigan State University shooting,2023-02-13,2023.0,February,East Lansing,Michigan,3.0,5.0,8.0,School,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Half Moon Bay spree shooting,2023-01-23,2023.0,January,Half Moon Bay,California,7.0,1.0,8.0,Workplace,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,LA dance studio mass shooting,2023-01-21,2023.0,January,Monterey Park,California,11.0,10.0,21.0,Other,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Virginia Walmart shooting,2022-11-22,2022.0,November,Chesapeake,Virginia,6.0,6.0,12.0,Workplace,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1889,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2019.0,Vermont,624313.0,65652.0,42.9,12323.0,61973.0,34577.0,10.52,1.97
1890,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2019.0,Washington,7404107.0,785244.0,37.7,187330.0,73775.0,38915.0,10.61,2.53
1891,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2019.0,West Virginia,1817305.0,310044.0,42.5,51910.0,46711.0,26480.0,17.06,2.86
1892,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2019.0,Wisconsin,5790716.0,639160.0,39.5,111564.0,61747.0,33375.0,11.04,1.93
1893,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2019.0,Wyoming,581024.0,62257.0,37.7,13544.0,64049.0,33366.0,10.72,2.33

In [8]:
merged_file.columns

Index(['case', 'date', 'year', 'month', 'city', 'state', 'fatalities',
       'injured', 'total_victims', 'location_catg', 'type', 'age_of_shooter',
       'race', 'latitude', 'longitude', 'STATE', 'YEAR', 'dealer_regulations',
       'buyer_regulations', 'gun_posses_prohibitions', 'background_checks',
       'ammunition_regulations', 'possession_regulations',
       'concealed_carry_permits', 'assault_weapons_bans',
       'child_access_prevention', 'gun_trafficking', 'domestic_violence',
       'no_preemption', 'no_stand_your_ground', 'immunity', 'total_laws',
       'Year', 'State', 'Total Population', 'Poverty', 'Median Age',
       'Unemployed Civilians', 'Median Household Income', 'Per Capita Income',
       '% in Poverty', '% in Unemployed'],
      dtype='object')

In [10]:
# Save the merged file to a new CSV file
merged_file.to_csv('..\Resources\mass_shootings_merged_data.csv', index=False)