In [1]:
#Dependecies
from config import api_key
import requests
import json
import pandas as pd
from census import Census
from us import states

In [2]:
c = Census(api_key)

In [3]:

# Years range from 2013 to 2019
years = range(2013, 2020)

# Initialize an empty list to store the data
data = []

# Iterate over each year and state
for year in years:
    for state in states.STATES:
        # Construct the API call for a particular year and state
        response = c.acs5.state(('NAME', 'B01003_001E', "B17001_002E", "B01002_001E", "B23025_005E","B19013_001E", "B19301_001E" ), state.fips, year=year)
        
        # Process the response and append the data to the list
        state_name = response[0]['NAME']
        total_population = response[0]['B01003_001E']
        poverty = response[0]['B17001_002E']
        age = response[0]["B01002_001E"]
        employment_unemployed = response[0]["B23025_005E"]
        income = response[0]["B19013_001E"]
        income_per_capita = response[0]["B19301_001E"]
        data.append({'Year': year, 'State': state_name, 'Total Population': total_population, 'Poverty': poverty, "Median Age": age, "Unemployed Civilians": employment_unemployed, "Median Household Income": income, "Per Capita Income": income_per_capita })

# Create a dataframe from the collected data
df = pd.DataFrame(data)

# Display the dataframe
df.head(10)

,Year,State,Total Population,Poverty,Median Age,Unemployed Civilians,Median Household Income,Per Capita Income
0,2013,Alabama,4799277.0,870631.0,38.1,241930.0,43253.0,23680.0
1,2013,Alaska,720316.0,69514.0,33.6,32939.0,70760.0,32651.0
2,2013,Arizona,6479703.0,1131901.0,36.3,316360.0,49774.0,25358.0
3,2013,Arkansas,2933369.0,547328.0,37.5,121235.0,40768.0,22170.0
4,2013,California,37659181.0,5885417.0,35.4,2168665.0,61094.0,29527.0
5,2013,Colorado,5119329.0,660874.0,36.1,231741.0,58433.0,31109.0
6,2013,Connecticut,3583561.0,354348.0,40.2,190709.0,69461.0,37892.0
7,2013,Delaware,908446.0,103633.0,38.9,41207.0,59878.0,29819.0
8,2013,Florida,19091156.0,3052807.0,41.0,1096028.0,46956.0,26236.0
9,2013,Georgia,9810417.0,1736680.0,35.6,544802.0,49179.0,25182.0

In [4]:
# Save the DataFrame as a CSV
# Note: To avoid any issues later, use encoding="utf-8"
df.to_csv("demogrpahics_data.csv", encoding="utf-8", index=False)
#Save the dataframe as a JSON
df.to_json('demographics.json',orient='records')