In [1]:
#Dependecies
from config import api_key
import requests
import json
import pandas as pd
from census import Census
from us import states

In [2]:
c = Census(api_key)

In [10]:
# Years range from 2009 to 2020
years = range(2009, 2021)

# Initialize an empty list to store the data
data = []

def get_census_data(fields, year):
    response = c.acs5.state(fields, state.fips, year=year)

all_fields = ('NAME', 'B01003_001E', "B17001_002E", "B01002_001E", "B23025_005E","B19013_001E", "B19301_001E")
selected_fields = ('NAME', 'B01003_001E', "B17001_002E", "B01002_001E","B19013_001E", "B19301_001E")
# Iterate over each year and state

for year in years:
    for state in states.STATES:
        # Construct the API call for a particular year and state
        try:
            response = c.acs5.state(all_fields, state.fips, year=year)
        except Exception:
            response = c.acs5.state(selected_fields, state.fips, year=year)
        # Process the response and append the data to the list
        state_name = response[0]['NAME']
        total_population = response[0]['B01003_001E']
        poverty = response[0]['B17001_002E']
        age = response[0]["B01002_001E"]
        employment_unemployed = response[0].get("B23025_005E", 0)
        income = response[0]["B19013_001E"]
        income_per_capita = response[0]["B19301_001E"]
        data.append({'Year': year, 'State': state_name, 'Total Population': total_population, 
                     'Poverty': poverty, "Median Age": age, 
                     "Unemployed Civilians": employment_unemployed, 
                     "Median Household Income": income, "Per Capita Income": income_per_capita })

# Create a dataframe from the collected data
df = pd.DataFrame(data)

# Display the dataframe
df.head(10)

,Year,State,Total Population,Poverty,Median Age,Unemployed Civilians,Median Household Income,Per Capita Income
0,2009,Alabama,4633360.0,757833.0,37.2,0.0,41216.0,22732.0
1,2009,Alaska,683142.0,64038.0,32.7,0.0,64635.0,29382.0
2,2009,Arizona,6324865.0,914040.0,34.8,0.0,50296.0,25203.0
3,2009,Arkansas,2838143.0,488788.0,36.9,0.0,38542.0,20977.0
4,2009,California,36308527.0,4694423.0,34.6,0.0,60392.0,29020.0
5,2009,Colorado,4843211.0,563574.0,35.5,0.0,56222.0,29679.0
6,2009,Connecticut,3494487.0,295608.0,39.0,0.0,67721.0,36468.0
7,2009,Delaware,863832.0,88505.0,37.8,0.0,57618.0,28935.0
8,2009,Florida,18222420.0,2346946.0,39.7,0.0,47450.0,26503.0
9,2009,Georgia,9497667.0,1384518.0,34.5,0.0,49466.0,25098.0

In [4]:
# Save the DataFrame as a CSV
# Note: To avoid any issues later, use encoding="utf-8"
df.to_csv("demogrpahics_data.csv", encoding="utf-8", index=False)
#Save the dataframe as a JSON
df.to_json('demographics.json',orient='records')